<h2>Inicio de Sesión</h2>

<form action="/api/users/login" method="POST">
  <label for="email">Email: </label>
  <input type="email" name="email" required />
  <br /><br />
  <label for="password">Password: </label>
  <input type="text" name="password" required />
  <br /><br />
  <button type="submit">Enviar</button>
  <br /><br />
  <p>¿Forgot your password?
    <a href="/reset-password">Reset your password</a>
  </p>
</form>