<h1>{{title}}</h1>
<p>{{message}}</p>
<p>Redirecting in 3 seconds...</p>

<script>
  setTimeout(function() { window.location.href = "{{redirectUrl}}"; }, 3000);
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{{! traer las funciones y metodos de socket.io }}
<script src="https://cdn.socket.io/4.7.3/socket.io.min.js"></script>
{{! vincular el archivo de js con la vista de index.handlebars }}
<script src="js/main.js"></script>