<div class="upload-container">
  <h2>Subir Archivos</h2>
  <form
    action="/api/users/{{uid}}/documents"
    method="POST"
    enctype="multipart/form-data"
  >

    <select name="fileType" required>
      <option value="" disabled selected>Selecciona el tipo de archivo</option>
      <option value="profiles">Profiles</option>
      <option value="documents">Documents</option>
      <option value="products">Products</option>
    </select>
    <input type="file" name="files" required />
    <button type="submit">Subir</button>
  </form>
</div>