body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/images/image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-left: 10%;
  max-width: 80%;
}

.auth-container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tab-button {
  background-color: #ffa500;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 45%;
}

.tab-button:hover {
  background-color: #ff7f00;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form.hidden {
  display: none;
}

.auth-form label {
  margin: 10px 0 5px;
}

.auth-form input,
.auth-form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.auth-form button {
  background-color: #ffa500;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #ff7f00;
}

.auth-form p {
  margin-top: 10px;
  text-align: center;
}

.hidden {
  display: none;
}

/* Estilos para el formulario de registro en dos columnas */
.form-row {
  display: flex;
  justify-content: space-between;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

.form-group:last-child {
  margin-right: 0;
}


/* Estilos para el header */
body.other-pages {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 60px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding: 5px 10px;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.search-bar input {
  border: none;
  background: none;
  outline: none;
  padding: 10px;
  flex: 1;
  font-size: 16px;
}

.search-bar button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 10px;
}

.search-bar button img {
  height: 20px;
  width: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ff6347;
}

nav ul li a img {
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

/* Estilos para tabla usuarios */
.user-table-container {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  width: 80%;
  max-width: 800px;
  margin: 10px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.user-table-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.user-table-container table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.user-table-container th, .user-table-container td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.user-table-container th {
  background-color: #f8f8f8;
}

.user-table-container tr:hover {
  background-color: #f1f1f1;
}

.user-table-container button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.user-table-container button:hover {
  background-color: #c0392b;
}


/* Estilos para pagina products */

.custom-body {
  padding: 20px;
}

.main-title {
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
  color: #2c3e50;
}

.main-content {
  display: flex;
}

.sidebar {
  width: 250px;
  margin-right: 20px;
}

.filters {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filters h2 {
  font-size: 1.2em;
  color: #2c3e50;
  margin-bottom: 10px;
}

.filter-link {
  display: block;
  padding: 10px 0;
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s;
}

.filter-link:hover {
  color: #2980b9;
}

.main-section {
  flex: 1;
}

.navigation, .pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.nav-link, .sort-link, .pagination-link {
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  background-color: #3498db;
  transition: background-color 0.3s;
  width: auto;
  white-space: nowrap;
}

.nav-link:hover, .sort-link:hover, .pagination-link:hover {
  background-color: #2980b9;
}

.prev-page-link, .next-page-link {
  padding: 5px 20px;
}

.container {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
  width: 300px;
}

.card:hover {
  transform: translateY(-10px);
}

.card-body {
  padding: 20px;
}

.add-to-cart-btn {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
  background-color: #c0392b;
}

.add-to-cart-btn.disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.page-info {
  text-align: center;
  margin-top: 20px;
  color: #7f8c8d;
}

.access-denied-message {
  margin-top: 10px;
  display: block;
  color: red;
}

/* Estilos para resumen de carrito */

.container {
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 40px;
  margin-right: 10px;
  color: #4A90E2;
}

.cart-container {
  width: 60%;
  max-width: 900px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e0e0e0;
}

.cart-item:last-child {
  border-bottom: none;
}

.cart-item p {
  margin: 0;
}

.cart-item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.cart-item-details p {
  margin-bottom: 5px;
}

.cart-item-price,
.cart-item-quantity {
  flex: 0 0 150px;
  text-align: right;
}

.cart-actions {
  text-align: center;
  margin-top: 30px;
}

.cart-actions a {
  display: inline-block;
  padding: 12px 25px;
  margin: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #4A90E2;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cart-actions a:hover {
  background-color: #357ABD;
}

.cart-total {
  text-align: right;
  font-size: 20px;
  margin-top: 20px;
}