<header>
  <div class="logo">
    <img src="img/logo-patica.png" alt="Logo" />
  </div>
  <div class="search-bar">
    <input type="text" placeholder="Buscar productos..." />
    <button type="submit"><img
        src="img/search-icon.png"
        alt="Buscar"
      /></button>
  </div>
  <nav>
    <ul>
      <li><a href="/users">Admin</a></li>
      <li><a href="/cart"><img src="img/cart-icon.png" alt="Carrito" /></a></li>
      <li><a href="/api/users/logout">Cerrar sesión</a></li>
    </ul>
  </nav>
</header>