<header>
  <div class="logo">
    <a href=""><img src="/images/logo.png" alt="Logo" /></a>
  </div>
  <nav>
    <ul>
      <li><a href="/users">Admin</a></li>
      <li><a href="/products">Productos</a></li>
      <li><a href="/cart"><img src="/images/cart.png" alt="Carrito" /></a></li>
      <li><a href="/api/users/logout">Cerrar sesión</a></li>
    </ul>
  </nav>
</header>